.number-redpart {
    background: linear-gradient(-45deg, #a3e0f3, #135e79, black);
    background-repeat: no-repeat;
    box-sizing: content-box;
    height: 100%;
}

.number-heading {
    color: rgb(255, 255, 255);
    font-size: 53px;
    text-align: center;
}

.number-p1 {
    /* float: left; */
    padding-top: 80px;
    display: inline-block;
}

.number-p3 {
    margin-left: 1000px;
}

.number-p2 {
    padding-top: 80px;
    float: none;
    align-items: center;
}

.number-btn {
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding: 20px 75px;
    margin-bottom: 46px;
    font-weight: 700;
    position: absolute;
    margin-top: 31px;
}

.number-counter.number-hide {
    opacity: 0;
    transition: 5s;
}

.number-heading {
    padding-top: 30px;
}

.number-col-31 {
    width: 25%;
    float: left;
}

.number-col-32 {
    width: 50%;
    float: left;
}

.number-col-33 {
    width: 25%;
    float: left;
}

.number-row:after {
    content: "";
    display: table;
    clear: both;
}

.number-small-container {
    padding-top: 70px;
}

.number-regbut {
    padding-top: 25px;
    padding-bottom: 25px;
}