#footer1 .footer-newsletter {
    padding: 50px 0;
    text-align: center;
    font-size: 15px;
}

#footer1 .footer-newsletter h1 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #3a394e;
}

#footer1 .footer-newsletter h1::after {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 2px;
    background: #1236ab;
    top: 2rem;
    left: calc(50% - 30px);
}

#footer1 .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.subscribe-btn {
    margin-top: 10px;
    background-color: #ffce32!important;
    color: #111;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: .25rem;
    padding: 0.6rem 1.3rem!important;
}

.subscribe-btn:hover {
    box-shadow: 4px 4px 4px 0px #DADCDD;
    transition: 0.5 ease-in-out;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    background: #141415;
    position: relative;
    width: 100% !important;
    display: flex !important;
}

#contact {
    padding: 0!important;
}

.footer-cta {
    border-bottom: 1px solid #363637;
}

.single-cta i {
    color: #ffce32;
    font-size: 1.5rem;
    height: 45px;
    width: 80px;
    line-height: 45px;
    text-align: center;
}

.single-cta {
    display: flex !important;
    align-items: center !important;
    margin: 0 !important;
}

.cta-text {
    display: inline-block;
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}

.cta-text h4 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 1px;
    line-height: 10px;
}

.cta-text span {
    color: white;
    font-size: 15px;
    line-height: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: white;
    line-height: 25px;
}

.footer-social-icon span {
    color: white;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.footer-social-icon .linkedin-bg {
    background-color: #0a66c2;
}

.footer-widget-heading h3 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    height: 2px;
    width: 50px;
    background: #3A64D6;
}

.footer-widget ul li {
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.footer-widget ul {
    padding: 0;
}

.footer-widget ul li i {
    color: white;
}

.footer-widget ul li a:hover {
    color: #8397cf;
    padding-top: 1px;
    padding-left: 2px;
    transition: all 0.2s ease;
}

.footer-widget ul li a {
    color: white;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
}

.footer-social-icon .linkedin-bg {
    background-color: #0a66c2;
}

.copyright-area {
    background: #202020;
    width: 100% !important;
    padding: 10px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: #3A64D6;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #3A64D6;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}

.facebook-bg {
    background: #3b5998;
}

.twitter-bg {
    background: #55acee;
}

.google-bg {
    background: #3957dd;
}

.footer-widget .ready-btn {
    background-color: #ffce32!important;
    color: #111;
}

.footer-widget .ready-btn:hover {
    box-shadow: 3px 4px 4px 0px #505050;
}

@media only screen and (max-width:475px) {
    .single-cta {
        display: inline-block;
        margin: 12px;
    }
}

@media only screen and (max-width: 790px) {
    .cards {
        grid-template-columns: 1fr;
    }
    .card__wrapper h3 {
        font-size: 20px;
    }
    .contact__heading h2 {
        font-size: 45px !important;
        width: 100% !important;
    }
    .card__wrapper {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}